.DS_Store
.tmp

# cordova with yeoman intermediate directory
/www/
/dist/
/build/
!dist/Procfile
!dist/web.js
!dist/package.json
!dist/node_modules/
/test/dist/
test/scripts/.TwineServer/

platforms/android/assets/www
platforms/android/bin
platforms/android/CordovaLib/bin/
platforms/android/CordovaLib/gen/
platforms/android/gen/
platforms/android/res/xml/config.xml

platforms/ios/AtelionClient.xcodeproj/project.xcworkspace/
platforms/ios/AtelionClient.xcodeproj/xcuserdata/
platforms/ios/AtelionClient/config.xml
platforms/ios/cordova/console.log
platforms/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/
platforms/ios/www/

# IntelliJ
.idea/workspace.xml

/coverage/
/karma_html/
npm-debug.log

local.properties

node_modules/grunt-aws/caches/
